[init]
	defaultBranch = main
[user]
	email = User Email
	name = User Name
	signingkey = "ssh-key"
[pull]
	rebase = false
[core]
	editor = zeditor --wait
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe