configuration {
	modi: "window,drun,ssh,combi,filebrowser,recursivebrowser,keys";
	font: "JetbrainsMonoNL Nerd Font 16";
	combi-modi: "window,drun,ssh,filebrowser,recursivebrowser,keys";
}
@theme "themes/raycast.rasi"
