window#waybar {
    background: rgba(30,30,30,0.75);
    color: #ffffff;
    border-bottom: none;
}

#workspaces button {
    background-color: rgba(255, 255, 255, 0.25); /* Semi-transparent background */
    color: transparent; /* Hide the default bullet icons */
    min-width: 56px;
    font-size: 0.01px;
    padding: 0px;
    margin: 10px 0px 10px 10px;
}

#workspaces button.active {
    background-color: rgba(255, 255, 255, 0.50); /* Semi-transparent background */
}

#clock {
    font-family: "JetBrains Mono";
    color: #ffffff;
    font-size: 10pt;
    margin: 0px 10px 0px 0px;
}